
<div class="content-header">
    <div class="nav-header">
        <div class="logo">
            <img src="assets/images/logoHeader.png" alt="">
        </div>
        <div class="navegacion">
            <!-- <button class="telefono" routerLink="/contact">contacto@mypetlab.com.mx</button>
            <img class="telefono" src="assets/images/correoLogo.png" alt=""> -->
            <button routerLink="/home" routerLinkActive="active">Inicio</button> 
            <button routerLink="/about" routerLinkActive="active">Nosotros</button>
            <button routerLink="/servicios" routerLinkActive="active">Servicios</button>
            <button routerLink="/contact" routerLinkActive="active">Contacto</button>
            <img  src="assets/images/telefonoLogo.png" alt="">
            <button routerLink="/contact">55 2137 2955</button>
        </div>        
    </div>
</div>
