
<div class="container-header">
    <nav class="nav-header">
        <img class="logoHeader" src="assets/images/logoHeader.png" alt="">
        <button routerLink="/home" routerLinkActive="active">Inicio</button>
        <button routerLink="/about" routerLinkActive="active">Nosotros</button>
        <button routerLink="/servicios" routerLinkActive="active">Servicios</button>
        <button routerLink="/contact" routerLinkActive="active">Contacto</button>
        <button class="telefono" routerLink="/contact">55 2137 2955</button>
        <img class="telefono" src="assets/images/telefonoLogo.png" alt="">        
    </nav>
</div>
