
<div class="content-header">
    <div class="nav-header">
        <div class="logo">
            <img src="assets/images/logoHeader.png" alt="">
        </div>
        <div class="navegacion">
            <button routerLink="/home" routerLinkActive="active">Inicio</button> 
            <button routerLink="/about" routerLinkActive="active">Nosotros</button>
            <button routerLink="/servicios" routerLinkActive="active">Servicios</button>
            <button routerLink="/contact" routerLinkActive="active">Contacto</button>
            
        </div>    
        <div class="padre">
                <div class="hijo">
                    <img  src="assets/images/telefonoLogo.png" alt="">
                    <button routerLink="/contact">55 2137 2955</button>
                </div>
                <div class="hijo2">
                    <img src="assets/images/correoLogo.png" alt="">
                    <button routerLink="/contact">contacto@mypetlab.com.mx</button>
                </div>
            </div>    
    </div>
</div>
