<div class="crop-image">
    <img src="/assets/images/nosotros.jpg" alt=""> 
</div>
<div class="content">
    <div class="content2">
        <h2>¿Quiénes somos?</h2>
        <p>Somos profesionales de la salud que coadyuvamos con los MVZ, brindando un servicio oportuno de análisis clínicos para el diagnóstico de enfermedades en animales de compañía, cuidando su salud y bienestar.</p>
    </div>
    <div class="content2">
        <h2>Misión</h2>
        <p>Contribuir con los médicos veterinarios zootecnistas dedicados al bienestar de los animales de compañía con servicios de prevención y diagnóstico de laboratorio clínico, ofreciendo resultados confiables, seguros y oportunos.</p>
    </div>
    <div class="content2">
        <h2>Visión</h2>
        <p>Ser el laboratorio más eficiente y con soluciones de vanguardia en la entrega de resultados de estudios para la prevención y diagnóstico de enfermedades, contribuyendo a conservar y mejorar la salud de los animales de compañía, y con ello su calidad de vida.</p>
    </div>
</div>
