<div class="crop-image">
    <img src="/assets/images/inicio.jpg" alt="">
</div>
<div class="content">
    <div class="content3"> 
        <p class="rapidez">Rapidez, calidad y seguridad.</p> 
    </div>
</div>
<div class="content">
    <div class="content3">
        <p class="somos">Somos tú mejor opción, ya que contamos con un sistema novedoso en la recolección y procesamiento de muestras lo que nos permite ser los más rápidos y eficientes del mercado en la entrega de resultados en los análisis de rutina. Contamos con el respaldo de laboratorios de referencia internacional.</p>
    </div>    
</div>
<div class="content">
    <div class="content2">
        <p>La solicitud de recolección se puede realizar por teléfono, WhatsApp o correo electrónico, la cual deberá ser acompañada por la solicitud de muestra correctamente llenada.</p>
        <h2>Solicitud de muestra > <a href="">descargar</a></h2>
        <h2>Catálogo > <a href="">descargar</a></h2>
        <h2>Lista de precios > <a href="">descargar</a></h2>
        <p>Nuestro horario de recolección de muestras es de 10:00 a 14:30 y el de atención al cliente es de 10:00 a 18:00.</p>

    </div>
</div>
