.content3{
    text-align: center;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}
.horario{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(223, 173, 205);
    font-size: xx-large;
    text-align: center;
}
.somos{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: black;
}
.rapidez{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: rgb(145, 118, 172);
    padding-bottom: 0px;
    margin-bottom: 0px;
}