<div>
    <p>*********Aqui va el video***********</p>
</div>
<div>
    <p>Somos tú mejor opción, ya que contamos con un sistema novedoso en la recolección y procesamiento de muestras lo que nos permite ser los más rápidos y eficientes del mercado en la entrega de resultados en los análisis de rutina. Contamos con el respaldo de laboratorios de referencia internacional.</p>
    <h2>Horario: </h2>
    <p>Nuestro horario de recolección de muestras es de 10:00 a 14:30 y el de atención al cliente es de 10:00 a 18:00.</p>
</div>