<div class="crop-image">
    <img src="/assets/images/laboratory-2021-08-29-15-19-53-utc.jpg" alt="">
</div>
<div class="content">
    <div class="content3">
        <p class="somos">Somos tú mejor opción, ya que contamos con un sistema novedoso en la recolección y procesamiento de muestras lo que nos permite ser los más rápidos y eficientes del mercado en la entrega de resultados en los análisis de rutina. Contamos con el respaldo de laboratorios de referencia internacional.</p>
    </div>    
</div>
<div class="content">
    <div class="content2">
        <h2 class="horario">Horario</h2>
        <p>Nuestro horario de recolección de muestras es de 10:00 a 14:30 y el de atención al cliente es de 10:00 a 18:00.</p>
    </div>
</div>