<div class="crop-image">
    <img src="/assets/images/blood-centrifuge-machine-2021-08-26-18-26-30-utc.jpg" alt=""> 
</div>
<div>
    <app-servicio *ngFor = "let servicio of servicios" [servicio]="servicio"></app-servicio>
</div>
<div class="content">
    <div class="content2">
        <p>La solicitud de recolección se puede realizar por teléfono, WhatsApp o correo electrónico, la cual deberá ser acompañada por la solicitud de muestra correctamente llenada.</p>
        <h2>Solicitud de muestra > <a href="">descargar</a></h2>
        <h2>Catálogo > <a href="">descargar</a></h2>
        <h2>Lista de precios > <a href="">descargar</a></h2>
        <p>Nuestro horario de recolección de muestras es de 10:00 a 14:30 y el de atención al cliente es de 10:00 a 18:00.</p>

    </div>
</div>
