<div class="footer">
    <div class="footer-hijo">
        <div class="footer-nieto">
            <img src="assets/images/facebookFooter.png" alt="" routerLink="/contact">
            <img src="assets/images/instagramFooter.png" alt=""routerLink="/contact">
        </div>
        <div class="footer-nieto2">
            <p class="footer-p">Todos los derechos reservados</p>
        </div>
        <div class="footer-nieto2">
            <p class="footer-p2" routerLink="/terminos" routerLinkActive="active">Aviso de Privacidad</p>
        </div>
    </div>
</div>
