<div class="crop-image">
    <img src="/assets/images/contacto.jpg" alt=""> 
</div>
<div class="contentContact">
    <div class="contentContact2">
        <h2 class="labelHorario">Contacto </h2>
        <div class="content3">
            <img class= "logo" src="/assets/images/whatAppLogo.png" alt=""><p>55 2137 2955</p>
        </div>
        <div class="content3">
            <img class= "logo3" src="/assets/images/telLogo.png" alt=""><p>55 4181 8381</p>
        </div>
         <div class="content3">
            <img class= "logo2" src="/assets/images/correoLogo.png" alt=""><p>contacto@mypetlab.com.mx</p>        
         </div>
         <div class="content3">
            <img class= "logo" src="/assets/images/facebookLogo.png" alt=""><a href="https://www.facebook.com/mypetlab.mx">MyPetLab</a>        
         </div>
        <div class="content3">
            <img class= "logo" src="/assets/images/instagramLogo.png" alt=""><a href="https://www.instagram.com/mypetlab.mx">mypetlab.mx</a>   
        </div>
    </div>
    <div class="contentContact2">
        <h2 class="labelHorario">Horario de atención telefónica</h2>
        <div class="content3">
            <p>Lunes a Viernes de <strong>10:00Hrs</strong> a <strong>18:00Hrs</strong></p>
        </div>
        <div class="content3">
            <p>Sábados de <strong>10:00Hrs</strong> a <strong>15:00Hrs</strong></p>
        </div>
        <h2 class="labelHorario">Horario de recolección de muestras</h2>
        <div class="content3">
            <p>Lunes a Viernes de <strong>10:00Hrs</strong> a <strong>14:30Hrs</strong></p>
        </div>
        <div class="content3">
            <p>Sábados de <strong>10:00Hrs</strong> a <strong>13:00Hrs</strong> </p>
        </div>
    </div>
</div>

    