<div class="crop-image">
    <img src="/assets/images/contacto.jpg" alt=""> 
</div>
<div class="contentContact">
    <div class="contentContact2">
        <h2>Telefonos </h2>
        <div class="content3">
            <img class= "logo" src="/assets/images/whatAppLogo.png" alt=""><p>55-2137-2955</p>
        </div>
        <div class="content3">
            <img class= "logo3" src="/assets/images/telLogo.png" alt=""><p>55-4181-8381</p>
        </div>
        <h2>Correo</h2>
         <div class="content3">
            <img class= "logo2" src="/assets/images/correoLogo.png" alt=""><p>contacto@mypetlab.com.mx</p>        
         </div>
         <h2>Facebook</h2>
         <div class="content3">
            <img class= "logo" src="/assets/images/facebookLogo.png" alt=""><a href="https://www.facebook.com/mypetlab.mx">MyPetLab</a>        
         </div>
        <h2>Instagram</h2>
        <div class="content3">
            <img class= "logo" src="/assets/images/instagramLogo.png" alt=""><a href="https://www.instagram.com/mypetlab.mx">mypetlab.mx</a>   
        </div>
    </div>
    <div class="contentContact2">
        <h2>Horario de atención telefónica</h2>
        <div class="content3">
            <p>Lunes a Viernes de <strong>10:00Hrs</strong> a <strong>18:00Hrs</strong></p>
        </div>
        <div class="content3">
            <p>Sabados de <strong>10:00Hrs</strong> a <strong>15:00Hrs</strong></p>
        </div>
        <h2>Horario de recolección de muestras</h2>
        <div class="content3">
            <p>Lunes a Viernes de <strong>10:00Hrs</strong> a <strong>14:30Hrs</strong></p>
        </div>
        <div class="content3">
            <p>Sabados de <strong>10:00Hrs</strong> a <strong>13:00Hrs</strong> </p>
        </div>
    </div>
</div>

    