<div class="crop-image">
    <img src="/assets/images/contacto.jpg" alt=""> 
</div>
<div class="contentContact">
    <div class="contentContact2">
        <h2>Telefonos </h2>
        <div class="content3">
            <img class= "logo" src="/assets/images/whatAppLogo.png" alt=""><p>55-2137-2955</p>
        </div>
        <div class="content3">
            <img class= "logo" src="/assets/images/telLogo.png" alt=""><p>55-4181-8381</p>
        </div>
        <h2>Correo</h2>
         <div class="content3">
            <img class= "logo2" src="/assets/images/correoLogo.png" alt=""><p>contacto@mypetlab.com.mx</p>        
         </div>
         <h2>Facebook</h2>
         <div class="content3">
            <img class= "logo" src="/assets/images/facebookLogo.png" alt=""><a href="https://www.facebook.com/mypetlab.mx">MyPetLab</a>        
         </div>
        <h2>Instagram</h2>
        <div class="content3">
            <img class= "logo" src="/assets/images/instagramLogo.png" alt=""><a href="https://www.instagram.com/mypetlab.mx">mypetlab.mx</a>   
        </div>
    </div>
    <div class="contentContact2">
        <h2>Horario</h2>
        <div class="content3">
            <h3>Atencion telefonica</h3>
        </div>
        <div class="content3">
            <p>Lunes a viernes de 10:00 a 18:00</p>
        </div>
        <div class="content3">
            <p>Sabados de 10:00 a 15:00</p>
        </div>
        <div class="content3">
            <h3>Recoleccion de Muestras</h3>
        </div>
        <div class="content3">
            <p>Lunes a viernes de 10:00 a 14:30</p>
        </div>
        <div class="content3">
            <p>Sabados de 10:00 a 13:00</p>
        </div>
    </div>
</div>

    