.contrainer-image{

    width: 320px;
    display: inline-block;
    padding-left: 60px;
    padding-top: 10px;
}
.img {
    position: relative;
    width: 320px;
    height: 200px;
    display: inline;
    border-radius: 5px;
}
